.site-header {
    background-image: url("/assets/img/header/nav_bg.png");
    background-repeat: repeat-x;
    background-size: contain;

    .logo {
        width: 70px;
    }

    .header-text {
        color: var(--bnd-light);
        text-decoration: none;
    }

    .header-text:hover {
        color: var(--bnd-secondary);
        transition: 0.2s;
    }

}