.site-header {
    .container-header {
        width: 80%;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;


        .header-left {
            .logo {
                width: 70px;
            }
        }

        .header-middle {

            .header-links {
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0 auto;

                a {
                    text-decoration: none;
                    padding: 0 0.5rem;
                    color: black;
                    font-weight: bolder;
                    font-size: 25px;
                }

                a:hover {
                    background-color: lightgray;
                    font-size: 30px;
                    transition: 0.5s;
                    border-bottom: 5px solid rgba(0, 0, 0, 0.605);
                    padding: 1.58rem 0.5rem;
                    color: red;
                }
            }
        }


        .header-right {

            input:focus,
            textarea:focus,
            select:focus {
                outline: none;
            }

            .search-text {
                padding: 0.5rem;
                border-top: 2px solid red;
                border-left: 2px solid red;
                border-right: 0;
                border-bottom: 0;
                box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.605);
            }

            .search-button {
                padding: 0.5rem;
                border-top: 2px solid red;
                border-left: 0;
                border-right: 0;
                border-bottom: 0;
                box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.605);
                margin: 0 0 0 -0.5rem;
                background-color: lightgray;
                color: red;

            }

            .search-button:hover {
                font-weight: bold;
                transition: 0.2s;
            }
        }
    }
}